# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Assets/AssetStoreTools*

# --- IDE / Tooling ---
.vs/
.vscode/
.idea/

# --- C#/VS 산출물 ---
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- Etc ---
*.tmp
*.bak
*.old
sysinfo.txt
